Question1. Create a function that takes three arguments a, b, c and returns the sum of the
numbers that are evenly divided by c from the range a, b inclusive.
evenly_divisible(1, 10, 2) ➞ 30
# 2 + 4 + 6 + 8 + 10 = 30
evenly_divisible(1, 10, 3) ➞ 18
# 3 + 6 + 9 = 18

In [21]:
def test(a,b,c):
  list = []
  for i in range(a,b+1):
    if i %c ==0:
      list.append(i)
  print(list)
  print(sum(list))

In [22]:
test (1,10,2)

[2, 4, 6, 8, 10]
30

In [23]:
test (1,10,3)

[3, 6, 9]
18

In [24]:
#Create a function that replaces all the vowels in a string with a specified character.
def vowel_replace(test_str, d):
  vowels = "aeiouAEIOU"
  for i in vowels:
    test_str = test_str.replace(i,d)
  return test_str

In [25]:
vowel_replace("the addvark", '#')

'th# #ddv#rk'

In [26]:
vowel_replace("minnie mouse", '?')

'm?nn?? m??s?'

In [27]:
vowel_replace("shakespeare", '*')

'sh*k*sp**r*'

Write a function that calculates the factorial of a number recursively.

In [35]:
def factorial (n):
  if n==0:
    print(1)
  else:
   factorial =1
   for i in range(1,n+1):
    factorial= factorial*i
   print(factorial)

In [37]:
factorial(5)

120

In [38]:
factorial(3)

6

In [39]:
factorial(1)

1

In [40]:
factorial(0)

1

In [43]:
# Create a function that computes the hamming distance between two strings.
def hammingDist(str1, str2):
    i = 0
    count = 0
 
    while(i < len(str1)):
        if(str1[i] != str2[i]):
            count += 1
        i += 1
    return count

In [44]:
hammingDist("abcde", "bcdef")

5