1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

#* represents expresion (Multiplication) <br>
#"hello" is value or represents string <br>
# -87.8 is float, represents value
# - represnts expresion (Substraction)
#/ is expresion (devision)
# + is expresion (Addition)
# 6 is value (int)


2. What is the difference between string and variable?

# string is immutable, example = "G S Reddy" <br>
# Variable is identity, we are assigning the value. (ex), Name = "G S Reddy"

3. Describe three different data types.

# Numeric Types: int, float, complex
# Sequence Types: list, touple
#Mapping Type: dict
#Text Type:	str

6. After running the following code, what does the variable bacon contain? <br>
bacon = 22 <br>
bacon + 1

22

7. What should the values of the following two terms be? <br>
"spam"+"spamspam" <br>
"spam"*3

"spamspamspam" <br>
"spamspamspam"

8. Why is eggs a valid variable name while 100 is invalid?

Variable should be a letter (alpha numeric)

10. Why does this expression cause an error? How can you fix it?

"I have eaten"+99+"burritos." <br>
99 is not a string, it is int
<br>
"I have eaten"+"99"+"burritos."

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

int, float, str