Please write a program using generator to print the numbers which can be divisible by 5 and
7 between 0 and n in comma separated form while n is input by console.

In [10]:
def num(n):
  for i in range(n+1):
    if i%5==0 and i%7==0:
     print(i, end = ",")

In [11]:
num(100)

0,35,70,

Please write a program using generator to print the even numbers between 0 and n in comma
separated form while n is input by console.

In [13]:
def num1(n):
  for i in range(n+1):
    if i%2==0:
     print(i, end = ",")

In [14]:
num1(10)

0,2,4,6,8,10,

Assuming that we have some email addresses in the &quot;username@companyname.com&quot; format,
please write program to print the user name of a given email address. Both user names and
company names are composed of letters only.

In [18]:
def user(text_str):
      res = text_str.split('@')
      print(res[0])

In [19]:
user("username@companyname.com")

username

In [21]:
user("gavinollasrinivasreddy@gmail.com")

gavinollasrinivasreddy